input.label, input.value, .enum {
  height: 2em;
  padding-left: 4px;
  padding-right: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
  box-shadow: 1px 1px 2px 1px inset #7f7f7f;
  box-sizing: content-box;
  background-color: white;
}

input.label:disabled {
  background-color: inherit;
}

.add-child {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: yellow;
  background-color: navy;
  background-image: linear-gradient(#2f2fff, navy);
  height: 2em;
  border: 2px outset #2f2fff;
  box-shadow: 0 0 0 1.2px #7f7f7f;
  box-sizing: content-box;
  margin: 1px;
}

.add-child:active {
  background-image: linear-gradient(navy, #2f2fff);
  border: 2px inset #2f2fff;
}

.add-child > option:first-child {
  display: none;
}

.load, .save {
  font-family: sans-serif;
  font-size: small;
  background-image: linear-gradient(#f7f7f7, #d7d7d7);
  border: 2px outset #ffffff;
  box-shadow: 0 0 0 1.2px #7f7f7f;
  padding-left: 1ex;
  padding-right: 1ex;
  padding-top: 0.25ex;
  padding-bottom: 0.25ex;
}

.load:active, .save:active {
  background-image: linear-gradient(#d7d7d7, #f7f7f7);
  border: 2px inset #ffffff;
}

label.load > input {
  width: 1px;
  height: 1px;
}

button.close {
  width: 2em;
  height: 2em;
  padding: 2px;
  margin: 1px;
  border: 2px outset #ff7f7f;
  color: white;
  background-color: red;
  background-image: linear-gradient(#ff7f7f, red);
  box-shadow: 0 0 0 1.2px #7f7f7f;
}

button.close:active {
  background-image: linear-gradient(red, #ff7f7f);
  border: 2px inset #ff7f7f;
}

button.record, button.stop {
  width: 2em;
  height: 2em;
  padding: 3px;
}

button.record {
  color: red;
  border-width: 2px;
  border-style: solid;
  background-color: #111;
  border-top-color: #555;
  border-left-color: #555;
  border-bottom-color: #000;
  border-right-color: #000;
}

button.stop {
  /* content: '■'; doesn't work */
  color: black;
  border: 2px inset #ff7f7f;
  background-color: red;
}

button.narrow {
  width: 2em;
}

button.narrow, button.ref {
  height: 2em;
  padding: 3px;
  color: yellow;
  background-color: navy;
  background-image: linear-gradient(#2f2fff, navy);
  border: 2px outset #2f2fff;
  box-shadow: 0 0 0 1.2px #7f7f7f;
  margin: 1px;
}

button.narrow:active, button.ref:active {
  background-image: linear-gradient(navy, #2f2fff);
  border: 2px inset #2f2fff;
}

canvas.waveform {
  vertical-align: middle;
  background-color: black;
}

table.PeriodicWave-table, table.PeriodicWave-table td, table.PeriodicWave-table th {
  border: 1px solid black;
  border-collapse: collapse;
}

table.PeriodicWave-table th, td.PeriodicWave-buttons {
  text-align: center;
}

#start {
  height: 2em;
  padding: 3px;
  border: 2px outset #7fff3f;
  color: black;
  background-color: lime;
  background-image: linear-gradient(#7fff3f, lime);
  box-shadow: 0 0 0 1.2px #7f7f7f;
  margin: 1px;
}

#start:active {
  border: 2px inset #3fff3f;
  background-image: linear-gradient(lime, #3fff3f);
}

.invisible {
  display: none;
}

.audio-node {
  background-color: #7f7fff;
}

.audio-node.source {
  background-color: #cf7fff;
}

.field {
  background-color: #ffcfcf;
}

.k-rate {
  background-color: #ffcf7f;
}

.a-rate {
  background-color: #ffff7f;
}

table#keyboard {
  font-size: small;
}

table#keyboard td {
  border-width: 3px;
  border-style: solid;
  border-top-color: #888;
  border-left-color: #888;
  border-bottom-color: #333;
  border-right-color: #333;
  height: 1.5em;
  text-align: center;
  color: #444;
  background-color: #666;
}

table#keyboard td.w {
  border-top-color: #ddb;
  border-left-color: #ddb;
  border-bottom-color: #886;
  border-right-color: #886;
  color: #000;
  background-color: #ffd;
}

table#keyboard td.b {
  border-top-color: #555;
  border-left-color: #555;
  border-bottom-color: #000;
  border-right-color: #000;
  color: #eee;
  background-color: #111;
}

table#keyboard td.keydown {
  border-top-color: #8f8;
  border-left-color: #8f8;
  border-bottom-color: #080;
  border-right-color: #080;
  color: #ff0;
  background-color: #0f0;
}

table#keyboard td[colspan="1"] { width: 0.75em; }
table#keyboard td[colspan="2"] { width: 1.5em; }
table#keyboard td[colspan="3"] { width: 2.25em; }
table#keyboard td[colspan="4"] { width: 4em; }
table#keyboard td[colspan="5"] { width: 4.75em; }
table#keyboard td[colspan="14"] { width: 10.5em; }

ul.nav {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
ul.nav > li { display: inline; }
ul.nav > li:before { content: ' | '; }
ul.nav > li:first-child:before { content: ''; }

ul.status {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  float: right;
}

ul.status > li::before {
  font-weight: bold;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

ul.status > li.unknown::before {
  content: '?';
  color: #7f7f00;
}

ul.status > li.unsupported::before {
  content: '✗';
  color: #7f0000;
}

ul.status > li.supported::before {
  content: '✓';
  color: #007f00;
}
