input.label, input.value {
  height: 2em;
  padding: 0px;
  border: 1px solid black;
}

.add-child, .enum {
  color: yellow;
  background-color: navy;
  height: 2em;
  border: 1px solid black;
  box-sizing: content-box;
}

.enum:disabled {
  color: #ffff7f;
  background-color: #7f7fff;
}

.add-child > option:first-child {
  display: none;
}

button.close {
  width: 2em;
  height: 2em;
  padding: 3px;
  border: 1px solid black;
  color: white;
  background-color: red;
}

button.close:active {
  background-color: black;
}

button.record, button.stop {
  width: 2em;
  height: 2em;
  padding: 3px;
  border: 1px solid black;
}

button.record {
  color: red;
  background-color: black;
}

button.stop {
  /* content: '■'; doesn't work */
  color: black;
  background-color: red;
}

button.narrow {
  width: 2em;
}

button.narrow, button.ref {
  height: 2em;
  padding: 3px;
  border: 1px solid black;
  color: yellow;
  background-color: navy;
}

button.narrow:active, button.ref:active {
  color: navy;
  background-color: yellow;
}

canvas.waveform {
  vertical-align: middle;
  background-color: black;
}

table.PeriodicWave-table, table.PeriodicWave-table td, table.PeriodicWave-table th {
  border: 1px solid black;
  border-collapse: collapse;
}

table.PeriodicWave-table th, td.PeriodicWave-buttons {
  text-align: center;
}

#start {
  height: 2em;
  padding: 3px;
  border: 1px solid black;
  color: black;
  background-color: lime;
}

.invisible {
  display: none;
}

.audio-node {
  background-color: #7f7fff;
}

.audio-node.source {
  background-color: #cf7fff;
}

.field {
  background-color: #ffcfcf;
}

.k-rate {
  background-color: #ffcf7f;
}

.a-rate {
  background-color: #ffff7f;
}

table#keyboard {
  font-size: small;
}

table#keyboard td {
  border-width: 3px;
  border-style: solid;
  border-top-color: #888;
  border-left-color: #888;
  border-bottom-color: #333;
  border-right-color: #333;
  height: 1.5em;
  text-align: center;
  color: #444;
  background-color: #666;
}

table#keyboard td.w {
  border-top-color: #ddb;
  border-left-color: #ddb;
  border-bottom-color: #886;
  border-right-color: #886;
  color: #000;
  background-color: #ffd;
}

table#keyboard td.b {
  border-top-color: #555;
  border-left-color: #555;
  border-bottom-color: #000;
  border-right-color: #000;
  color: #eee;
  background-color: #111;
}

table#keyboard td.keydown {
  border-top-color: #8f8;
  border-left-color: #8f8;
  border-bottom-color: #080;
  border-right-color: #080;
  color: #ff0;
  background-color: #0f0;
}

table#keyboard td[colspan="1"] { width: 0.75em; }
table#keyboard td[colspan="2"] { width: 1.5em; }
table#keyboard td[colspan="3"] { width: 2.25em; }
table#keyboard td[colspan="4"] { width: 4em; }
table#keyboard td[colspan="5"] { width: 4.75em; }
table#keyboard td[colspan="14"] { width: 10.5em; }

a.help {
  position: absolute;
  top: 1em;
  left: 50%;
  right: 50%;
}

ul.status {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  float: right;
}

ul.status > li::before {
  font-weight: bold;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

ul.status > li.unknown::before {
  content: '?';
  color: #7f7f00;
}

ul.status > li.unsupported::before {
  content: '✗';
  color: #7f0000;
}

ul.status > li.supported::before {
  content: '✓';
  color: #007f00;
}
